body {
  padding-bottom: 150px;
  font-family: Gothic MB101 Light, Hiragino Kaku Gothic W3 JIS2004, 'メイリオ', Meiryo, Verdana, 'ＭＳ Ｐゴシック', sans-serif;
  color: rgba(0,0,0,.87);
  -webkit-font-smoothing: antialiased;
}
.top-card {
  border: none;
}
.avatar-img {
  width: 250px;
  margin: 0 auto;
}
.github-stats-area {
  width: 350px;
  margin: 0 auto;
  padding: none;
}
.github-stats {
  width: 350px;
}
.grid-style {
  margin-bottom: 20px
}
.card-style {
  height: 300px
}
.card-image {
  width: 200px;
  margin: auto;
}
.title {
  margin-top: 30px;
  margin-bottom: 15px;
}
.sns {
  display: inline-block;
  margin: 0 5px;
}
.sns a {
  color: grey;
}
.sns-twitter a:hover {
  color: #1DA1F2;
}
.sns-facebook a:hover {
  color: #4267B2;
}
.sns-github a:hover {
  color: black;
}
.sns-linkedin a:hover {
  color: #0966C2;
}
